Source:	trigonometry-equation
Section:	utils
Priority:	optional
Maintainer:	Ponomarenko	Yaroslav	<ponomarenko.yaroslav1@lll.kpi.ua>
Build-Depends:	debhelper	(>=	9), g++
Standards-Version:	4.5.1

Package:	trigonometry-equation
Architecture:	any
Depends:	${shlibs:Depends},	${misc:Depends}
Description:	A	program	for	solving	trigonometric	equations
	This	is	a	sample	description	of	the	package.

